


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

width: 100%;
height: 100vh;
background-image: url(https://thumbs.dreamstime.com/b/watercolor-pattern-numbers-math-symbols-white-background-seamless-school-products-wrapping-etc-colorful-childish-287145989.jpg);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-evenly;
}

.button{
   width: 260px;
   height: 10vh;
padding: 15px 14px;
outline: none;
border: none;
background-color: rgb(251, 255, 0)!important;
color: blue !important;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 15px;
align-items: center;
justify-content: center;
}



 .zzz{

width: 100px !important;

}
.button a{
    text-decoration: none;
    color: blue;
    font-size: 25px;
}


aaassedgt6y6t6y<,><juh6tgf4ed  dwaqah768i8ijyrdegtgtgrfetgyhyuugrtre







